.App {
  display: flex;
  padding: 0 25px;
  background-color: #eceeee;
  height: 100vh;
}

.board {
  margin-right: 25px;
  width: 25%;
}

.board:last-child {
  margin-right: 0px;
}

.board-name {
  color: white;
  padding: 10px 0;
  text-align: center;
}

.board:nth-child(1) .board-name {
  background-color: #8e6e95;
}

.board:nth-child(2) .board-name {
  background-color: #39a59c;
}

.board:nth-child(3) .board-name {
  background-color: #344759;
}

.board:nth-child(4) .board-name {
  background-color: #e8741e;
}

.card {
  background-color: #ffffff;
  margin-top: 2px;
  padding: 14px 8px;
  display: flex;
  justify-content: space-between;
}

.card-content {
  padding: 0 12px;
}
